* {     margin: 0;     padding:0;     box-sizing: border-box;     text-decoration: none;     list-style: none; }
body
body {font-family: sans-serif;}

/*Index Css*/

#titulo {background-color: red; display:flex; justify-content: start; gap: 35%; flex-wrap: wrap; font-family: sans-serif;}
  
.Paginas { background-color: black; text-decoration: none; justify-content: space-between; padding-bottom: 40px;}
.Paginas {color: rgb(255, 0, 0);  text-emphasis-color: red;}
.Paginas {display: flex; flex-wrap: wrap;  ; margin-bottom: 0rem; font-size: red;} 


a { color: red; text-decoration: none;}

.Seccion-1 {display: flex; order: 3 ;} 
 .Quienes-somos { width: 200px; background-color: black; color: rgb(255, 255, 255) ; } 
.Texto-1 {width: 300px; margin: 30px; padding: 30px;    background-color: rgb(0, 0, 0);      color:  rgb(255, 255, 255)       ;border: 4px inset red }
.Seccion-2 {display: flex; flex-wrap: wrap;}
.Quien-es {  width: 200px; background-color: black; color: rgb(255, 255, 255) ; } 
.Texto-2 {width: 300px;  padding: 30px;   margin: 30px; background-color: rgb(0, 0, 0);      color:  rgb(255, 255, 255)       ;border: 4px inset red }
footer { background-color: black; color: rgb(255, 255, 255); display: flex;  width: 100vw; padding-bottom: 40px; align-items: center; height: auto;}
.Redes  { justify-content: center; color: rgb(255, 255, 255);}
.logo {height: 56px; color: rgb(255, 255, 255); }
.img {justify-content:end}
.Contactos {text-align: right;display: flex; flex-direction: column; }

/*Css pagina De historia*/

.inicios { margin: 2%;  flex-direction: column; display: flex; text-align: center; justify-content: center; font-family: sans-serif; font-size: large; } 
.mapa {justify-content: center;}
.Formula1 { margin: 2%;  flex-direction: column; display: flex; text-align: center;    ;justify-content: center; font-family: sans-serif; font-size: large; } 
.debut {margin-left: 400px; }
.Benneton { font-size: 30px   ;margin: 2%;  flex-direction: column; display: flex; text-align: center;   ;justify-content: center; font-family: sans-serif; font-size: large }
.Bicampeon {font-size: 20px ; font-family: sans-serif;}
.Ferrari  { font-size: 30px   ;margin: 2%;  flex-direction: column; display: flex; text-align: center;    ;justify-content: center; font-family: sans-serif; font-size: large }
.Leyenda { font-size: 20px; font-family: sans-serif;}
.Regreso { font-size: 30px   ;margin: 2%;  flex-direction: column; display: flex; text-align: center;    ;justify-content: center; font-family: sans-serif; font-size: large }
.Back { font-size: 20px; font-family: sans-serif;}

/*Css Pagina de Palmares*/ 
.Equipos {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px; 
  }
  .Caja {
  
 
    border: 1px solid #ddd;
      padding: 20px;
      
    
    text-align: center }
    
    
    .Caja img {
      max-width: 100%;}
      .infografia {margin-left: 500px;} 
/*Css Familia*/
.Familia { font-size: 30px   ;margin: 2%;  flex-direction: column; display: flex; text-align: center;   ;justify-content: center; font-family: sans-serif; font-size: large }
.Father {  margin-left: 400px;}

/*Css Frases*/ 
.Frases {  font-size: 30px   ;margin: 2%;  flex-direction: column; display: flex; text-align: center;   ;justify-content: center; font-family: sans-serif; font-size: large; padding: 20px;
  border-radius: 10px}
iframe {margin-left: 650px;}
.Alonso {margin-left: 500px;}

/*Medias Responsive*/
@media (max-width: 600px) {.Paginas { flex-direction: column;}  .Seccion-1 {display: flex; flex-direction: column;} .Schumi {order: -1; height: auto; } footer {width: 100%; flex-direction: column; align-items: center;} .Seccion-2 {display: flex; flex-direction: column;}  .uno{ order: 2;} .dos  { order: 1;}
.dos  {order: 1;} .debut {margin: auto;  } .Equipos {grid-template-columns: 1fr; } .infografia {margin: auto; width: 100%;} .Father {margin: auto;} .video {width: auto;} .Alonso {margin: auto; width: 50%;}  iframe {margin: auto; width: 300px;} }   